<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ManoWebServisasSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7709/ManoWebServisas.asmx"
                binding="basicHttpBinding" bindingConfiguration="ManoWebServisasSoap"
                contract="WebServisas.ManoWebServisasSoap" name="ManoWebServisasSoap" />
    </client>
  </system.serviceModel>
</configuration>