<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SecureServiceLibrary.Service1"
               behaviorConfiguration="Service1Behavior">
        <!-- Aprašomi visi galiniai taškai nurodant adresus, pavadinimus, ryšio tipus,
        konfiguracijas ir tt. Gali būti kuriami ir modifikuojami panaudojant ir 
        "Edit WCF Configuration" įrankį-->
        <endpoint address="net.tcp://localhost:9000/Service1"
                  binding="netTcpBinding"
                  bindingConfiguration=""
                  name="SecureService_Tcp"
                  contract="SecureServiceLibrary.IService1" />
        <endpoint address="http://localhost:8090/Service1"
                  binding="wsHttpBinding"
                  bindingConfiguration=""
                  name="SecureService_WsHttp"
                  contract="SecureServiceLibrary.IService1" />
        <endpoint address="net.pipe://localhost/Service1" 
                  binding="netNamedPipeBinding"
                  bindingConfiguration="" 
                  name="SecureService_netPipe"
                  contract="SecureServiceLibrary.IService1" />
        <!-- Galinis taškas metaduomenų apsikeitimui-->
        <endpoint address="mex"
                  contract="IMetadataExchange"
                  binding="mexTcpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9001/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Service1Behavior">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>