<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Service2Behavior"
               name="SecureServiceLibrary.Service2">
        <!-- Aprašomi visi galiniai taškai nurodant adresus, pavadinimus, ryšio tipus,
        konfiguracijas ir tt. Gali būti kuriami ir modifikuojami panaudojant ir 
        "Edit WCF Configuration" įrankį-->
        <endpoint address="net.tcp://localhost:9000/Service2"
                  binding="netTcpBinding"
                  bindingConfiguration=""
                  name="SecureService_Tcp"
                  contract="SecureServiceLibrary.IService2" />
        <endpoint address="http://localhost:8090/Service2"
                  binding="wsHttpBinding"
                  bindingConfiguration=""
                  name="SecureService_WsHttp"
                  contract="SecureServiceLibrary.IService2" />
        <!-- Galinis taškas metaduomenų apsikeitimui-->
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9001/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Service2Behavior">
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>